$app-header-height = 52px

// app-sidebar 相关配置
$app-sidebar-title-height = 75px
$app-sidebar-nav-height = 45px
$app-sidebar-left-icon-size = 20

$colorPrimaryBlue = #1976d2

$colorBorder = rgb(240, 240, 240)


// 主题色  amber accent-2 #FFD740  from iconfont
$theme = #c0d36f

$colorFont = #212121